{{:server-port 80, :uri "/invalid", :scheme :http, :server-name "localhost"} "This is data coming from actual service call", {:server-port 3000, :uri "/csomethingnotincache/", :scheme :http, :server-name "localhost"} "This is data coming from actual service call", {:server-port 3000, :uri "/mock3/", :scheme :http, :server-name "localhost"} "This is data coming from actual service call", {:server-port 3000, :uri "/mock6", :scheme :http, :server-name "localhost"} "This is data coming from file", {:server-port 3000, :uri "/favicon.ico", :scheme :http, :server-name "localhost"} "This is data coming from actual service call", {:server-port 3000, :uri "/mock3", :scheme :http, :server-name "localhost"} " HORKED UP This is data coming from actual service call", {:server-port 3000, :uri "/mock2", :scheme :http, :server-name "localhost"} " Mocked out:::: This is data coming from actual service call", {:server-port 3000, :uri "/mock", :scheme :http, :server-name "localhost"} "from edn file"}